body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #191970;
  color: #fff;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

p {
  max-width: 600px;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}